.cbums {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.name-bar {
  border: none;
  font-size: 20px;
}

.Join-button {
  background-color: rgb(42, 101, 240);
  color: white;
  font-size: 20px;
  border: none;
  height: 30px;
  width: 80px;
  border-radius: 15px;
}

.Join-button:hover {
  opacity: .7;
}
.survey {
  width: 200px;
  display: inline-element;
  vertical-align: middle;
}